/* Topbar.module.css */
.topbarDiv {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  left: 0;
  top: 0;
  background-color: var(--side-bar-color);
  height: 3.8rem;
  width: 100%;
  z-index: 1000;
  padding: 0 1rem;
}

.sectionName {
  color: var(--text-color);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.sectionName::first-letter {
  font-family: "Meddon", "Jost";
  margin: 0;
  font-size: 3.1rem;
}

.searchContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalDivider {
  position: absolute;
  top: 3.8rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0.12rem;
  z-index: 1000;
  background-color: #989898;
}
