.fileItem {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  margin-left:4px;
  
}

.itemContent {
  display: flex;
  align-items: center;
}

.expandIcon {
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.checkbox {
  margin: 0 5px;
  margin-left: 8px;
}

.folderName,
.fileName {
  margin-left: 1px;
  cursor: pointer;
  font-size: 20px;
}

.innerItems {
  padding-left: 20px;
}

.selected .folderName,
.selected .fileName {
  background-color: #d3e2f7;
}

.fileIcon {
  margin-right: 1px;
}
.folderIconSvg {
  width: 25px; 
  height: 17px;
  fill: none;
  margin-bottom: 3px;
  margin-right: 10px;
}
