:root {
  --background-color: #d9d9d9;
  --text-color: #000000;
  --divider-color: #000;
  --button-background-color: #727272;
  --button-text-color: #ffffff;
  --side-bar-color: #ffffff;
  --vertical-divider-color: #000000;
  --popup-hover-text-color: black;
  --background-image: url('../../assets/default_light.png');
  --hover-image: url('../../assets/hover_light.png');
  --line-color: #989898;
}

.dark-theme {
  --background-color: #3e3e3e;
  --text-color: #ffffff;
  --divider-color: #ffffff;
  --button-background-color: #b5b5b5;
  --button-text-color: #000000;
  --side-bar-color: #555555;
  --vertical-divider-color: #FFFFFF;
  --popup-hover-text-color: white;
  --background-image: url('../../assets/default_dark.png');
  --hover-image: url('../../assets/hover_dark.png');

}

body {
  background-color: var(--background-color);  
  /* background-color: black; */
  color: var(--text-color);
  font-family: "Jost", sans-serif;
}

.mainContent {
  margin-left: 24.1rem; /* Adjust this value to match the sidebar width */
  /* padding: 1rem; */
  width: calc(
    100% - 24.1rem
  ); /* Adjust this value to match the sidebar width */
  position: relative;
}
